@import './bigchaindb/variables';

body {
    background: $brand-main-gray;
    color: $brand-main-gray-light;
}

h1,
h2 {
    color: $brand-main-gray-light;
}

h2 {
    text-align: left;
}

.row--wide {
    max-width: 1200px;
}

.section {
    margin: 0 10%;

    p {
        text-align: justify;
    }
}

.table-tutorial__wrapper {
    margin: 1em 0;
}

.table-tutorial {
    margin: auto;
    border-collapse: collapse;
    border: 1px solid $brand-main-green;

    thead {
        font-size: 1.2em;
        color: $brand-main-green;
        border-bottom: 1px solid;
    }

    tr:first-child td {
        border-right: 1px solid $brand-main-green;
    }

    td {
        border-right: 1px solid $brand-main-green;
        padding: .5em;
    }
}

.logo--github {
    fill: $brand-main-gray-light;
}

.logo-xs svg {
    width: $font-size-base;
    height: $font-size-base;
}

.logo-md svg {
    width: 1.5 * $font-size-base;
    height: 1.5 * $font-size-base;
}

.menu--main .logo--github {
    fill: $brand-main-gray;
    cursor: pointer;
}

.logo-circle--wrapper {
    margin: 1em;
}

.logo--home {
    fill: $brand-main-gray-light;
    cursor: pointer;
}

.img-wrapper {
    text-align: center;
    position: absolute;
    bottom: 3em;
}

.hidden {
    display: none;
}
