.code-example {

    text-align: left;

    .c {
        color: #dcdccc;
    }
    .ci {
        color: #dcdccc;
        padding-left: 25px;
    }
    .ci2 {
        color: #dcdccc;
        padding-left: 50px;
    }
    .comment {
        color: #8fbede;
    }
}
