@import "bigchaindb/variables";

$code--text: $brand-main-gray-lighter;

.code-example {
    max-width: 700px;
    margin: 0 auto;
}

.code-output {
    position: relative;
    text-align: left;
    margin: 45px;
    pre {
        overflow: auto;
        height: 100%;
        border: 1px solid $brand-main-green;

        code {
            white-space: pre-wrap;
        }
    }
    pre.error {
        border: 1px solid $brand-danger;
    }
    a {
        position: absolute;
        bottom: 0;
        z-index: 1;
    }
}

.code-example__header {
    text-align: left;
    margin: 1rem 0;
    border-bottom: 2px solid #9dabba;
}

.code-example__body {
    padding: 1em;

    pre {
        background: $brand-main-gray;
        overflow: auto;
        padding: 0;
        max-height: 400px;
    }

    text-align: left;

    .c {
        color: $code--text;
    }
    .ci {
        color: $code--text;
        padding-left: 25px;
    }
    .ci2 {
        color: $code--text;
        padding-left: 50px;
    }
    .comment {
        color: $brand-main-green;
    }
}


.code--highlight {
    background: $brand-main-green;
    color: $brand-main-blue;
    padding: 0.5em;
    font-size: 0.8em;
}