@import 'bigchaindb/variables';

.menu {
    background: $brand-main-gray-light;
    padding-left: 5px;
    padding-right: 10px;
}

.menu .menu-logo {
    fill: $brand-main-green;
    color: $brand-main-gray;
    width: 140px;
    height: 25px;
    position: absolute;
    top: 16px;
}

.menu .active.menu__links {
    .label {
        border-bottom: 2px solid $brand-main-gray;
    }

    .number {
        color: $ascribe-white;
    }
}

.menu .menu__links {
    color: $brand-main-gray;
    padding: 0px 10px 0px 5px;
    display: inline-block;

    .number {
        text-align: center;
        display: inline-block;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        font-size: .65rem;
        vertical-align: .1rem;
        background: $brand-main-gray;
        color: #9dabba;
        font-weight: 600;
        line-height: 1rem;
    }
}

.menu .menu__links.checked {
    color: #388250;

    .number {
        background-color: #388250;
        color: #fff;
    }
}
