@import 'bigchaindb/variables';

.menu {
    background: $brand-main-gray-light;
}

.menu .menu-logo {
    fill: $brand-main-green;
    color: $brand-main-gray;
    width: 140px;
    height: 25px;
    position: absolute;
    top: 16px
}
.menu .menu__links {
    padding-left: 25px;
    color: $brand-main-gray;
}
.menu .active.menu__links {
    .label {
        border-bottom: 2px solid $brand-main-gray;
    }
    .number {
        color: white;
    }
}
.menu .menu__links {
    .number {
        text-align: center;
        display: inline-block;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        font-size: .65rem;
        vertical-align: .1rem;
        background: $brand-main-gray;
        color: #9dabba;
        font-weight: 600;
        line-height: 1rem;
    }

}

